<!doctype html>
<html>
<head>
	<title>Itinerary Planner</title>
</head>
<body>
  <header>
    <img src="/img/logo.png" alt="Itinerary Planner Logo" />
  </header>
  {{{body}}}
  <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
</body>
</html>